
#optimizescripts_disabled_field {
	padding:1em;
}
#optimizescripts_disabled_field > p {
	/*margin-top:0;*/
}

#optimizescripts_disabled_field.disabled {
	background-color:#ffcccc;
	border:solid 1px red;
}

abbr.rebuildCount {
	cursor:help;
}
